__We have seen `tuples` to store our data. How let us see another way of storing data, using `sets`.__

In [1]:
# Creating a set
new_set = {'Krishna', 'Praveen', 'Likith'}
new_set

{'Krishna', 'Likith', 'Praveen'}

In [2]:
# Set does not allow duplicates
new_set = {'Krishna', 'Praveen', 'Likith', 'Krishna'}
new_set

{'Krishna', 'Likith', 'Praveen'}

In [3]:
# Length of a set
len(new_set)

3

In [4]:
# Type
type(new_set)

set

In [5]:
# Creating a set from a list
my_list = ['Krishna', 'Praveen', 'Likith']
my_set = set(my_list)
my_set

{'Krishna', 'Likith', 'Praveen'}

In [6]:
# You cannot change items in set, 
# you can add more items but you cannot change the existing ones

In [7]:
# You can add 2 sets using `update` method
my_set_1 = {'Krishna', 'Likith', 'Praveen'}
my_set_2 = {'Python', 'DotNet', 'Java'}

my_set_1.update(my_set_2)
my_set_1

{'DotNet', 'Java', 'Krishna', 'Likith', 'Praveen', 'Python'}

In [8]:
# We can see the order has been modified.
# This is because, set will sort your data

my_set = {1,2,3,4,5,6}
print(my_set, 'input sorted list')

my_set = {3,4,2,5,1,6}
print(my_set, 'input unsorted list')

{1, 2, 3, 4, 5, 6} input sorted list
{1, 2, 3, 4, 5, 6} input unsorted list

In [9]:
# In both cases we see sorted list because set will sort the data for you

In [10]:
# You can remove an item using `remove` or `discard` method
# Remove method will raise an error if the item is not found in the set
my_set.remove(6)
my_set.remove(7)

KeyError: 7

In [11]:
# Discard method will not raise an error if the item is not found in the set
my_set.discard(6)
my_set.discard(7)
my_set

{1, 2, 3, 4, 5}

In [12]:
# To find the common items from 2 sets, we use `intersection` method
my_set_1 = {1, 2, 3, 4, 5, 6}
my_set_2 = {3, 4, 5, 6, 7, 8}

my_set_1.intersection(my_set_2)

{3, 4, 5, 6}

__Now you have understood how to store sequential data in python using sets. In next notebook, we will see another datatype called `dictionary`.__

__Till then, Happy Coding!__